[Unit]
Description=Dexter RPi Hardware Bridge (ROS 2 joint_commands → PCA9685 → servos)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi3
WorkingDirectory=/home/pi3

# start_dexter_bridge.sh is written by install_rpi.sh
# It activates the correct ROS 2 environment (apt or robostack)
ExecStart=/home/pi3/start_dexter_bridge.sh

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

Environment="ROS_DOMAIN_ID=0"
Environment="PYTHONUNBUFFERED=1"
Environment="HOME=/home/pi3"

[Install]
WantedBy=multi-user.target
